{% extends 'Pages/base.html' %}
{% load static %}
{% block title %}Search{% endblock title %}


{% block body %}
<section class="dash-heading py-5 text-dark ">
    <div class="container">     
        <div class="row text-center"> 
        <div class="col-md-12"> 
     <div class="text-center"> 
             <h1 class="display-4">Agri. Informations </h1> 
            <p class="lead">Show Our Current informations </p> 
</div>
</div>
</div>
</div>
</section>
<div>
    <h3 class="text-center mt-5">Veterinary  </h3>
<div class="row">
<div class="col-md-6 offset-md-3 mb-3 p-3 border shadow  text-light">
<div class="card-body pl-5">
<h3><a href="https://www.petzonebd.com/veterinarian-pet-doctor-dhaka/">1. Vet & Animal Doctors List & Contacts in Bangladesh</a></h3>
</div>
</div>
</div>
</div>

<div>
    <h3 class="text-center mt-5"> Paddy  </h3>
    <div class="row">
    <div class="col-md-6 offset-md-3 mb-3 p-3 border shadow  text-light">
    <div class="card-body pl-5">
    <h3><a href="https://bn.wikipedia.org/wiki/%E0%A6%A7%E0%A6%BE%E0%A6%A8">1. Everything About Paddy</a></h3>
    <h3><a href="http://www.brri.gov.bd/site/page/bd9bd45c-af5e-423d-b370-21ec38997e14/-">2. District based success in paddy</a></h3>
    <h3><a href="http://www.brri.gov.bd/site/page/c23e09bb-b34a-4e78-916a-a124196dc3e8">3. Rice variety 1980-2022</a></h3>
    <h3><a href="https://www.bamis.gov.bd/thresholds/1/all/76">4. Crop weather information</a></h3>
    <h3><a href="https://iubat.edu/iaas/dhan2.html">5. Improved method of paddy cultivation</a></h3>
    </div>
    </div>
    </div>
</div>

<div>
    <h3 class="text-center mt-5"> Wheat  </h3>
    <div class="row">
    <div class="col-md-6 offset-md-3 mb-3 p-3 border shadow  text-light">
    <div class="card-body pl-5">
    <h3><a href="https://plantix.net/bn/library/crops/wheat">1. Everything About Wheat</a></h3>
  
    </div>
    </div>
    </div>
</div>
{% endblock body %}