{% extends 'Pages/base.html' %}
{% block title %}Address{% endblock title %}

{% block body %}
<section class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <h3>My Address</h3>
            <div class="col-md-12">
                {% if address %}
                    <div class="card">
                        <div class="card-body">
                            <ul class="list-group">
                                {% for addr in address %}
                                    <li class="list-group-item">
                                        <strong>{{ addr.name }}</strong><br>
                                        {{ addr.locality }}, {{ addr.city }}, {{ addr.district }}<br>
                                        <strong>Phone:</strong> {{ addr.phone }}<br>
                                        <strong>Gender:</strong> {{ addr.gender }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        You have not added any addresses yet. Please update your profile to add an address.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock body %}
