<footer id="contact">
   <div class="footer">
      <div class="container text-center text-md-left">
         <div class="row text-center">
            <div class="col-md-12 ">

               <h1 class="text-white">Contact Us</h1>

               <p class="text-white"> Nurzahan Road, Md.Pur (Dhaka-Bangladesh)</p>
               <P class="text-white">Phone: 01792707276</P>



            </div>
         </div>
      </div>

      <div class="copyright">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <p>Copyright 2022 All Right Reserved By Nihal</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>